body {
    font-family: Arial, sans-serif;
    background-color: #f4f5f7;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #4db19b;
    color: white;
}

header h1 {
    padding: 8px 0;
    margin: 0;
}

.header-wrapper {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 8px;
    background-size: contain;
}

.profile span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4db19b;
    border: 1px solid white;
    transform: translate(-12px, 15px);
}

article {
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.box {
    width: 100%;
    height: 3rem;
    background-color: #4db19b85;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

article .profile-card {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

article .name {
    display: flex;
    align-items: center;
}

article .circle {
    width: 75px;
    height: 75px;
    background-color: #ddfff8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4db19b;
    transform: translate(0px, -20px);
    font-size: 20px;
    margin-right: 20px;
}

article .name-text p {
    transform: translate(0px, -15px);
    font-size: 12px;
    color: darkslategray;
}
article button {
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #4db19b;
    color: #4db19b;
    background-color: white;
}

article button:hover {
    background-color: #4db19b;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.container nav {
    width: 25%;
}

.container section {
    width: 75%;
}

.side-menu h2 {
    color: gray;
    font-size: smaller;
    text-transform: uppercase;
}

.side-menu ul {
    padding: 0;
    list-style: none;
}

.side-menu ul li {
    padding: 10px;
    width: 80%;
    border-radius: 25px;
}

.side-menu ul li a {
    color: gray;
    text-decoration: none;
}

.side-menu ul li:hover,
.side-menu ul li:hover a {
    color: white;
    background-color: #4db19b;
}

.form-section .heading p {
    font-size: small;
    margin: 0;
    color: gray;
    text-transform: uppercase;
}

.form-section .heading h1 {
    margin: 4px 0 18px 0;
}

.form-container {
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form,
.form-heading {
    padding: 20px;
}

.form-container .form-heading h3 {
    margin: 0;
    color: gray;
}

.form-container .form-text {
    background-color: lightgray;
    padding: 1px 8px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card-input {
    display: none;
}

.card {
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 50px 20px;
    text-align: center;
    transition: all 0.3s ease;
    display: block;
    width: calc(50% - 10px);
}

.card-input:checked + .card {
    border-color: #4db19b;
    background-color: #edfffb;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="number"],
.form-group input[type="date"],
.form-group input[type="time"],
.form-group input[type="tel"],
.form-group select,
.form-group textarea {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.form-group > div {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: gray;
}
.break {
    margin-top: 25px;
}
.info {
    margin-top: 20px;
}
.info h4 {
    margin: 0;
}

.info p {
    margin: 8px 0 40px 0;
}

.info a {
    color: #4db19b;
    text-decoration: none;
}

.checkbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.checkbox small {
    margin-left: 25px;
}

.form-group button[type="submit"] {
    background-color: #4db19b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button[type="submit"]:hover {
    background-color: #4db19b;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

@media (max-width: 800px) {
    .header-wrapper {
        padding-left: 20px;
    }

    article {
        margin: 20px;
    }

    .profile-card {
        flex-direction: column;
    }

    .profile-card .circle {
        height: 90px;
        width: 90px;
        font-size: 28px;
    }

    .card {
        width: 100%;
        margin-bottom: 10px;
    }

    .side-menu {
        display: none;
    }

    .container section {
        width: 100%;
    }

    .form-group {
        flex-direction: column;
    }

    .form-group > div {
        width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}
